{% extends "bootstrap/base.html" %} 
{% block title %}混凝土工程博客{% endblock %} 
{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">主页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">索引</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %} 
{% block content %}
    <div class="container-fluid">
        <div class="row" >
           <div class="col-sm-8" style="background-color:lavenderblush;">{% block left_content %}{% endblock %}</div>
            <div class="col-sm-4" style="background-color:lavender;">{% block Category %}{% endblock %}</div>
        </div>
    <div class="container-fluid">
        <div class="row" style="background-color:darkgray">
            <footer>{% block footer_content%}{% endblock %}</footer>
        </div>
    </div>
{% endblock %}